  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.overlay:hover, .hover:hover {
    cursor: pointer;
    filter: contrast(40%);
    transition: all ease-in-out 0.2s;
}

.search {
    position: absolute;
    right: 1.5rem;
    top: 5px;
}
